#deactivated_users_table{
    border: 1px solid;
    width: 100%;

    th {
        border: 1px solid;
        width: 400px;
    }
    
    td {
        border: 1px solid;
        width: 100px;
        height: 40px;
    }

    .action_box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .actions {
        width: 70px;
    }

    * {
        padding: 10px;
    }

    #upcoming_election_section{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .candidates{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
}