@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600&family=DM+Serif+Display&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
}

body{
    display: flex;
    overflow: hidden;
    font-family: 'DM Sans', sans-serif;
}

#sidebar{
    width: 20%;
    flex-shrink: 0;
    height: 100vh;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.07);
    background-color: #2d6a4f;

    * { color: white; }

}

#title{
    margin:70px 0px 70px 0px;
    text-align: center;

    h1 {
        font-size: 35px;
    }
}

#menu_items{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    text-align: justify;
    font-size: 18px;
    padding: 0px 50px 0px 50px;
}

#menu_items a {
    text-decoration: none;
    padding: 5px 8px;
    border-radius: 8px;
    display: block;
    transition: all 0.2s ease;
}

/* Hover effect */
#menu_items a:hover {
    background-color: #1f4f3a; /* darker shade of your green */
    transform: translateX(4px); /* subtle movement */
}

#main_content{
    width: 100%;
    padding: 50px;
    height: 100vh;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
