* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    display: flex;
    overflow: hidden;
}

#sidebar {
    border: 1px solid;
    width: 30%;
    height: 100vh;
}

#title {
    margin: 70px 0px 100px 0px;
    text-align: center;
    h1 { font-size: 35px; }
}

#menu_items{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    text-align: justify;
    font-size: 18px;
    padding: 0px 50px 0px 50px;

    a{
        text-decoration: none;
        color: black;
    }

}

#main_content{
    border: 2px solid red;
    width: 100%;
    padding: 60px;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#greeting { 
    margin-bottom: 20px; 
}

#no_election_section {
    
    h2 { 
        font-size: 24px; 
        margin-bottom: 10px; 
    }
    p { font-size: 14px; 
        color: gray; 
        margin-bottom: 15px; 
    }
    button { padding: 8px 16px; 
        cursor: pointer; 
    }
}

#ongoing_election_title,
#closed_election_title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}

#winners_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 50px;
}

.winner_card {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    h3 { font-size: 16px; margin-bottom: 8px; }
    p { font-size: 13px; color: gray; }
}

/* Main containers for charts */
#ongoing_charts_container,
#closed_charts_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
}

/* When position has only 1-2 candidates */
.position-chart-block.two-col,
.position_result_block.two-col {
    grid-column: span 1;
}

.position-chart-block.two-col canvas,
.position_result_block.two-col canvas {
    height: 325px;
    border: 1px solid black;
}

/* When position has 3 or more candidates */
.position-chart-block.full-width,
.position_result_block.full-width {
    grid-column: span 2;
}

.position-chart-block.full-width canvas,
.position_result_block.full-width canvas {
    height: 700px;
    border: 1px solid black;
}


.position_result_block .pie-wrapper {
    grid-column: 1 / -1;     /* This forces it to take full row */
    display: flex;
    justify-content: center;
    margin: 25px 0 15px 0;
    height: 700px;
}

.position_result_block canvas[id^="canvas_pie_"] {
    height: 700px;
    width: 650px;
    max-width: 700px;
}

#ongoing_charts_container .pie-wrapper {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    margin: 25px 0 15px 0;
    height: 700px;
}

#ongoing_charts_container canvas[id^="canvas_pie_ongoing_"] {
    height: 700px;
    width: 650px;
    max-width: 700px;
}