#main_content{
    border: 2px solid red;
    width: 100%;
    padding: 60px;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#users_header{
    display: flex;
    justify-content: space-between;
}

#edit_window_bg {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    justify-content: center;
    align-items: center;
}

#edit_window{
    height: 300px;
    width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    * {
        width: 300px;
    }
}

#edit_subtext{
    text-align: center;
}

#edit_actions{
    display: flex;
    justify-content: space-between;
}