<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="view/assets/js/jquery.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="view/assets/styles/register.css">
    <title>Document</title>
</head>
<body>
    <h1 id="title">Brainrot School Voting System</h1>
    <div id="registerform">

        <input type="hidden" id="id">
        <label>First Name</label>
        <input type="text" id="firstname" placeholder="FirstName">   
        <label>Middle Name</label>
        <input type="text" id="middlename" placeholder="MiddleName"> 
        <labe>Last Name</label>
        <input type="text" id="lastname" placeholder="LastName"> 
        <labe>Password</label>
        <input type="text" id="password" placeholder="Password">
        <label>Course</label>
        <input type="text" id="studentcourse" placeholder="Course">
        <label>StudentID</label>
        <input type="text" id="studentid" placeholder="StudentID">
        <button id="registerBtn">Register</button>
    </div>

    <script src="view/assets/js/auth.js"></script>
</body>
</html>